.DS_Store

# ignore log files
log/*.log
tmp/**/*
spec/dummy/log/*.log
spec/dummy/tmp/*

db/schema.rb

*.swp
pkg/*
*.gem


.ruby-gemset
.ruby-version
.idea/
.eprj
*.*~
**/thumbs.db
**/Thumbs.db
**/.DS_Store

vendor/plugins/rails_upgrade
*.rails2

